<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js CDN Project</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

</head>

<body>
  <div id="header">
  </div>

  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-12 my-5 justify-content-center d-flex flex-column align-items-center">
          <img v-bind:src="picture" alt="" width="300">
          <p class="fw-bold pt-3">Firstname : {{name}} Lastname : {{lastName}}</p>

          <button v-on:click="toggleIsShowData" class="btn btn-primary">{{isShowData ? "Hide" : "Show"}} more data</button>
          <article class="text-center py-3" v-show="isShowData">
            <p>my fullname : {{getFullname}}</p>
            <div class="d-flex gap-3 align-items-center mb-3">
              <p class="mb-0">Age : {{age}}</p>
              <button v-on:click="increaseAge()" class="btn btn-primary">Add Age</button>
              <button v-on:click="decreaseAge()" class="btn btn-primary">Minus Age</button>
            </div>
            <p>Email : {{email}}</p>
            <p v-html="adresss"></p>
            <p class="fw-bold">Hobby</p>
            <div class="d-flex justify-content-center">
              <ul class="text-start" v-for="(item,index) in hobby">
                <li :key="index"> {{item}}</li>
              </ul>
            </div>
            <p>Salary : {{salary}}</p>
            <button class="btn btn-dark mb-3" v-on:click="increaseSalary(5000)" ref="salaryBtn">+ Salary</button>
            <p>Job Level : {{getJobLevel}}</p>
          </article>
        </div>
      </div>

      <form action="" @submit="submitForm">
        <div class="row d-flex justify-content-center flex-column align-items-center">
          <div class="mb-3 col-4">
            <p>Contact me</p>
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" v-model="email">
          </div>
          <div class="mb-3 col-4">
            <label for="exampleFormControlTextarea1" class="form-label">Message to me</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button class="btn btn-primary w-25 mb-3">Save</button>
        </div>
      </form>

      <div class="row ">
        <div class="col-12 d-flex justify-content-center gap-3">
          <button v-on:click="showData()" class="btn btn-primary">Say Hi</button>
        </div>
      </div>
    </div>

  </div>

  <div class="container py-3">
    <div class="row">
      <div class="col-6 mx-auto">
        <div id="testSwiper"></div>

        <!-- <swiper-container>
          <swiper-slide>Slide 1</swiper-slide>
          <swiper-slide>Slide 2</swiper-slide>
          <swiper-slide>Slide 3</swiper-slide>
        </swiper-container> -->
      </div>
    </div>
  </div>

  <div id="footer"></div>

  <script type="module" src="./app.js"></script>
  <!-- <script type="module" src="./components/header.js"></script> -->

</body>

</html>